.body-center {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: auto;
}

.body.container h2 {
    font-size: 28px;
}

.body.container h6 {
  font-size: 16px;
  padding-left: 0 !important;
  margin-bottom: 12px;
  line-height: 1.4;
}

.body-content {
  display: flex;
}

.body-intro h3 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.body-intro h1 {
  font-size: 64px;
  font-weight: bold;
  color: #FB726E;
  margin: 0px 24px;
}

.body-intro h5 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.30em;
  margin-left: 24px;
}

.body-intro p {
  font-size: 16px;
  margin-left: 24px;
  margin-top: 24px;
  /*text-align: justify;*/
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .body.container {
    padding-left: 28px;
    padding-right: 28px;
  }

  .body.container h2 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
  }

  .body.container h6 {
    font-size: 16px;
    padding-left: 0 !important;
  }

  .body.container p {
    font-size: 16px;
  }

  .body-content {
    display: block;
  }

  .body-content .body-intro h3 {
    font-size: 24px;
    margin-left: 0;
    text-align: center;
  }

  .body-content .body-intro h1 {
    font-size: 40px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .body-content .body-intro h5 {
    font-size: 16px;
    letter-spacing: 0.125em;
    margin-left: 0;
    text-align: center;
  }

  .body-content .body-intro p {
    font-size: 12px;
    margin-left: 0;
    text-align: center;
  }

  .body-center {
    margin: 40px auto;
    width: 100%;
  }
}
